<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ec3e0325-bc75-4056-913f-857622aa2a5f" Publisher="CN=Diederik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>XamlBrewer.Windows.MouseCommandBar</DisplayName>
    <PublisherDisplayName>Diederik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="XamlBrewer.Windows.MouseCommandBar.App">
      <m2:VisualElements DisplayName="XamlBrewer.Windows.MouseCommandBar" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="XamlBrewer.Windows.MouseCommandBar" ForegroundText="light" BackgroundColor="lightSlateGray">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>